
@{
    ViewBag.Title = "Cadastrar Cliente";
    var model = new WebAtividadeEntrevista.Models.ClienteModel();
}
@section scripts{
    <script>
        var urlPost = '@Url.Action("Incluir", "Cliente", new { area = "" })';
        var urlBenfiPartial = '@Url.Action("RetornarBeneficiario", "Cliente")';
    </script>
    @Scripts.Render("~/bundles/clientes")
}
<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms", model)